@font-face {
	font-family: "LeelawadeeBold";
	src: url("../fonts/LeelawadeeBold/LeelawadeeBold.eot");
	src: url("../fonts/LeelawadeeBold/LeelawadeeBold.eot?#iefix") format('embedded-opentype'),
		 url("../fonts/LeelawadeeBold/LeelawadeeBold.woff") format("woff"),
		 url("../fonts/LeelawadeeBold/LeelawadeeBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;		 
}

@font-face {
	font-family: "LeelawadeeRegular";
	src: url("../fonts/LeelawadeeRegular/LeelawadeeRegular.eot");
	src: url("../fonts/LeelawadeeRegular/LeelawadeeRegular.eot?#iefix") format('embedded-opentype'),
		 url("../fonts/LeelawadeeRegular/LeelawadeeRegular.woff") format("woff"),
		 url("../fonts/LeelawadeeRegular/LeelawadeeRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;		 
}

@font-face {
	font-family: "MyriadProBold";
	src: url("../fonts/MyriadProBold/MyriadProBold.eot");
	src: url("../fonts/MyriadProBold/MyriadProBold.eot?#iefix") format('embedded-opentype'),
		 url("../fonts/MyriadProBold/MyriadProBold.woff") format("woff"),
		 url("../fonts/MyriadProBold/MyriadProBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;		 
}

@font-face {
	font-family: "MyriadProRegular";
	src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
	src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix") format('embedded-opentype'),
		 url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
		 url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;		 
}